:root {
    --backdrop-1: rgb(50, 50, 255);
    --backdrop-2: rgb(185, 25, 25);
    --backdrop-3: rgb(55, 55, 55);
    --text-color-1: rgb(225, 225, 225);
}

/* Base reset */
* {
    margin: 0;
    padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;

    /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

body {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: var(--text-color-1);
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
}

ul {
    list-style: none;
}

section {
    height: 100vh;
    width: 100%;
}

footer {
    display: block;
    background: var(--backdrop-3);
    width: 100%;
    height: 50px;
}

a {
    color: var(--text-color-1);
    text-decoration: none;
}

.wrapper {
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

.nav-link {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

.nav-link:hover {
    background: rgb(75,75,75);
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--backdrop-3);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

#welcome-section {
    display: flex;
    align-items: center;
    background: var(--backdrop-1);
}

#welcome-note {
    font-size: 2.1rem;
    font-weight: 200;
    font-style: italic;
    font-family: Courier, monospace;
    color: var(white);
}

#projects {
    display: grid;
    background: var(--backdrop-2);
}

#contact-section {
    background: var(--backdrop-1);
}

#title-box {
    display: block;
    width: 100vw;
    text-align: center;
}

h1 {
    font-size: 3.4rem;
}

@media (min-width: 650px) {
}
